*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #fff;
  font-family: SF Pro Text, sans-serif;
  font-size: 10px;
  color: #464646;
}

.container {
  margin: 0 auto;
  width: 420px;
  overflow: hidden;
  padding: 20rem;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}


.arrow-left {
  padding-top: 50px;
  display: inline;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #464646;
  display: block;
  z-index: 1;
}

.routes {
  margin-top: 45px;
  width: auto;
  background-color: #707070;
}

#eastbound {
  background-color:#D6FFCC;

}

#northbound{
  background-color:#CCD7FF;
}

#southbound{
  background-color:#99F8FD;
}

#reroute{
  background-color:#FEB9B9;
}

#out-of-service{
  background-color:#F5DAC8;
}


h1{
  font-size: 20px;
  font-weight: bold;
  padding: 30px 20px 20px 20px;
  font-family: SF Pro Text;
}

h2{
  font-size: 16px;
  font-weight: normal;
  padding: 15px 0px 15px 0px;
}

ul{
  position:relative;
  width: 100%;
  margin:1px;
}

ul li {
  width: 100%;
  border-top: 1px solid #707070;
}

ul li span{
display: inline-block;
margin-left: 20px;
margin-right: 0px;
}

ul li span:nth-child(1) {
  width: 15px;
  font-weight: bold;
}

ul li span:nth-child(2) {
  width: 170px;
}

ul li span:nth-child(3) {
  width: 140px;
}
